@import '../../assets/styles/colors';
@import '../../assets/styles/screen';

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  font-family: 'Itim', cursive;

  span {
    font-size: 1rem;
    color: $lightgray-color;
    text-shadow: 0px 1px 0px #000;
  }

  .page-btn {
    background-color: $button-color;
    color: $white-color;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    font-size: 0.95rem;
    transition: all 0.3s ease;

    @include screen-sm {
      padding: 0.4rem 0.8rem;
    }

    .icon {
      filter: box-shadow(0px 1px 0px #000);
    }

    &:hover {
      background-color: $black-color;
      transform: translateY(-2px);
    }

    &:disabled {
      opacity: 0.4;
      color: #f7f7f7;
      cursor: not-allowed;
      transform: none;
    }
  }

  .pagination-label {
    display: inline-block;
    text-shadow: 0px 1px 0px #000;
    font-size: 0.95rem;

    @include screen-sm {
      display: none;
    }
  }
}
