@import '../../assets/styles/colors';

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;

  .input-icon {
    position: absolute;
    left: 15px;
    font-size: 1.25rem;
    color: $black-color;
  }

  input {
    border: none;
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 12px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
}
