@import '../../assets/styles/colors';

.button {
  background-color: $button-color;
  color: $white-color;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 100%;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $black-color;
    transform: translateY(-2px);
  }

  &:disabled {
    background-color: $lightgray-color;
    color: darken($lightgray-color, 40%);
    cursor: not-allowed;
    transform: none;
  }
}
