@import '../../assets/styles/colors';

.button2 {
  background-color: $black-color;
  color: $white-color;
  border: 1px solid #c00f0c;
  border-radius: 12px;
  font-size: 1rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 100%;

  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: lighten($black-color, 15%);
    transform: translateY(-2px);
  }
}
