@import '../mixins/colors';

.header {
    background-color: $bg-color;
    color: white;
    height: 100px;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    padding-top: 10px;
    text-align: center;
    border-bottom: 12.5px solid darken($bg-color, 90%);
}

.u-letter {
    color: $u-color;
}