@import '../../assets/styles/colors';
@import '../../assets/styles/screen';

.title {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 20px;
  text-shadow: 0px 1px 0px #000;

  h1 {
    font-family: 'Itim';
    font-weight: 300;
    font-size: 28px;
    color: $white-color;
    margin: 0;

    @include screen-sm {
      font-size: 22px;
    }
  }
}
