@import '../../assets/styles/colors';
@import '../../assets/styles/screen';

.label {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  span {
    font-family: 'Itim';
    font-size: 1.25rem;
    font-weight: 300;
    color: $white-color;
    margin: 0;
    transform: all 0.3s ease;

    @include desktop {
      font-size: 1.175rem;
    }
    @include screen-md {
      font-size: 1.15rem;
    }
    @include screen-sm {
      font-size: 1.125rem;
    }
  }
}
