@import '../../assets/styles/colors';
@import '../../assets/styles/screen';

.task-header {
  display: flex;
  align-items: center;
  align-self: center;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  margin-top: 2vh;

  .task-icon {
    width: 50px;
    height: 50px;

    @include screen-md {
      width: 40px;
      height: 40px;
    }

    @include screen-sm {
      width: 30px;
      height: 30px;
    }
  }

  .task-calendar {
    justify-content: space-between;
    background-color: #28053f;
    border-radius: 8px;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;

    p {
      padding: 0;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .task-datetime {
      background-color: $lightgray-color;
      color: $black-color;
      border-radius: 8px;
      padding: 5px 10px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.task-data {
  padding-top: 20px;
  padding-bottom: 30px;

  .task-message {
    text-align: justify;
    text-align-last: center;
    font-style: italic;
    font-size: calc(1.25rem + 0.5vw);

    @include desktop {
      font-size: calc(2rem + 0.5vw);
    }
    @include screen-md {
      font-size: calc(1.5rem + 0.5vw);
    }
    @include screen-sm {
      font-size: calc(1.125rem + 0.5vw);
    }
  }
}
