@import '../../assets/styles/colors.scss';

.loader-overlay,
.loader-overlay.loader-overlay--home {
  position: fixed;
  inset: 0;
  background: $bg-color;
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  gap: 1.2rem;
  z-index: 9999;
  text-align: center;
}

.loader-overlay .loader-spinner,
.loader-overlay--home .loader-spinner {
  width: 3rem;
  height: 3rem;
  border: 5px solid darken($white-color, 60%);
  border-top-color: $white-color;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

.loader-overlay .loader-text,
.loader-overlay--home .loader-text {
  margin-top: 0;
  font-size: 1.1rem;
  color: $white-color;
  text-shadow: 0px 1px 0px $black-color;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
