@import '../../assets/styles/colors';
@import '../../assets/styles/screen';

.home-form {
  display: flex;
  flex-direction: column;
  color: $white-color;
  background-color: $bg-color;
  text-align: center;
  width: 90vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 30px;

  @include screen-sm {
    padding-left: 1vw;
    padding-right: 1vw;
  }
}

.home-header {
  display: flex;
  align-items: center;
  align-self: center;

  button {
    position: absolute;
    right: 0;
    margin-right: 2vw;
    margin-top: 12px;
    background-color: transparent;
    border: none;
    color: $white-color;
    cursor: pointer;
    font-size: 27px;
    filter: drop-shadow(0px 1px 0px #000);

    @include screen-sm {
      font-size: 22px;
    }
  }
}

.home-container {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .home-list {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 20px;

    li {
      margin: 0;
      padding: 0 10px;
    }

    .home-task-item {
      background-color: transparent;
      border: none;
      text-align: left;
      text-align-last: left;
      width: 100%;
      margin-left: 3vw;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      filter: drop-shadow(0px 1px 0px #000);

      li {
        text-shadow: 0px 1px 0px #fff9;
        font-weight: 600;
        font-size: calc(1.5rem + 0.5vw);

        @include desktop {
          font-size: calc(1.25rem + 0.5vw);
        }
        @include screen-md {
          font-size: calc(1.1rem + 0.5vw);
        }
        @include screen-sm {
          font-size: calc(1.125rem + 0.5vw);
        }
      }

      &:hover {
        box-shadow: 2px 2px 4px black;
        border-radius: 8px;
      }

      span {
        color: $white-color;
        text-shadow: 0px 1px 0px #000;
        font-size: calc(0.75rem + 0.5vw);
        font-weight: 600;

        @include desktop {
          font-size: calc(1.15rem + 0.5vw);
        }
        @include screen-md {
          font-size: calc(1rem + 0.5vw);
        }
        @include screen-sm {
          font-size: calc(0.85rem + 0.5vw);
        }
      }
    }
  }
}
